<div class="nested-fields">
  <div class="evidence">
    <div class="endpoint"></div>
    <div class="evidence box">
      <h3>証拠</h3>
      <div class="inner">
        <%= f.text_field :evidence_summary, class: 'adjust-entered-text-width' %>
      </div>
      <h3>証拠詳細</h3>
      <div class="inner">
        <%= f.text_area :evidence_detail, class: 'adjust-max-line-width' %>
      </div>
      <%= link_to_remove_association "証拠を削除", f %>
    </div>
  </div>
</div>
