// 主張と反論のレイアウト
.argument_title {
  background: #CC99CC;
  color: #FFF;
  margin: 0;
  display:inline-block;
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}

.refutation_title {
  background: #0094D6;
  color: #FFF;
  margin: 0;
  display:inline-block;
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}

.tree_structure {
  border: 2px solid #CC99CC;
  padding: 10px;
  width: fit-content;
}

.ref_tree_structure {
  border: 2px solid #0094D6;
  padding: 10px;
  width: fit-content;
}

.conclusion, .ref_conclusion {
  margin: 0 auto;
}

.endpoint {
  width: 20px;
  height: 20px;
  margin: 40px auto;
}

.bases {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.reason, .ref_reason {
  margin: 0 auto;
}

.evidences {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.box .inner {
  padding: .5em;
}

.ref_box .inner {
  padding: .5em;
}

.box {
  border: 2px solid #CC99CC;
  width: fit-content;
  min-width: 100px;
  white-space: nowrap;
}

.ref_box {
  border: 2px solid #0094D6;
  width: fit-content;
  min-width: 100px;
  white-space: nowrap;
}

.box h3 {
  background: #CC99CC;
  color: #FFF;
  text-align: center;
  margin: 0;
}

.ref_box h3 {
  background: #0094D6;
  color: #FFF;
  text-align: center;
  margin: 0;
}

.inner {
  word-break: break-all;
}

// 主張と反論をドラッグ可能にする
.argument, .refutation {
  position: absolute;
}

// 接続線がエンドポイントの下にくるようにする
// https://docs.jsplumbtoolkit.com/community/lib/styling-via-css
.window { z-index:20; }
.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }

// 接続線を右クリックしたときに､表示される｢削除ボタン｣のレイアウト
// https://stackoverflow.com/a/4502207
.custom-menu {
  z-index: 1000;
  position: absolute;
  background-color: #C0C0C0;
  border: 1px solid black;
  padding: 2px;
}

// その他
.create_new_argument_button {
  position: fixed;
  bottom: 100px;
  right: 150px;
}
