/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body, div, p, ul, ol, li, dl, dt, dd th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ADD8E6;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 10;

  .header_container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    .header_left {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      img {
        height: 60px;
        border-radius: 50px;
      }

      img:hover {
        filter: brightness(5.0);
      }
    }

    .nav_items {
      text-align: center;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media screen and (max-width: 1079px) {
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
      }
    }

    .link_in_header:hover {
      filter: brightness(3.0);
    }
  }
}

/* 1079px以下のときは､ header_navを右の画面外に飛ばし､active時に画面内に戻す */
@media screen and (max-width: 1079px) {
  .header_nav {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    height: 100vh;
    transform: translateX(100%);
    background-color: #050a30;
    transition: ease .4s;

    .link_in_header {
      display: block;
      border-radius: 30px;
      width: 150px;
      padding: 5px 0px;
      background-color: #050a30;
      color: white;
      border-bottom: white 2px solid;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .header_nav.active {
    transform: translateX(0);
  }
}

/* 1079px以下のときのみ､ハンバーガーメニューを表示 */
.header_hamburger {
  display: none;

  @media screen and (max-width: 1079px) {
    display: block;
    width: 48px;
    height: 100%;
  }
}

/*ハンバーガーメニューのレイアウト*/
.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
  background-color: white;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
  background-color: white;
}

.flash_message_block {
  position: absolute;
  top: 105px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: white;

  .notice {
    background-color: #0066CC;
  }
  .alert {
    background-color: #FF3366;
  }
}

main {

  .container {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
  }

  table {
    text-align: center;
    padding-bottom: 50px;

    th {
      padding: 10px 20px;
    }

    td {
      padding: 10px 20px;

      input, textarea {
        width: 100%;
        height: 100%;
      }
    }
  }
}
