// 新規主張作成フォームをツリー型にする
.nested_bases_forms {
  position: relative;
}

.add_nested_reason_form {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.nested_evidences_forms {
  position: relative;
}

.add_nested_evidence_form {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

textarea {
  resize: none;
}

// その他
.create_new_argument_form, .edit_existing_argument_form {
  text-align: left;
  margin-top: 50px;
}

// 新規主張作成､主張編集､新規反論作成､反論編集ページ共通のレイアウト
.agenda_name {
  text-align: left;
  padding-top: 40px;
  min-width: 1080px;
}
