.field {
  margin: 15px 0;
}

.edit_user_information {
  .actions {
    input {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .delete_account {
    background-color: orange;
    font-weight: bold;
  }
}
