.top_wrapper {
  h1 {
    margin-bottom: 20px;
  }
}

.main_wrapper {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.usage_explanation {
  text-align: left;

  .red_annotation {
    color: red;
    font-weight: bold;
  }
}

.overview {
  h1 {
    width: fit-content;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 3px solid  #ADD8E6;
  }

  ul {
    width: fit-content;
    text-align: left;
  }

  li {
    margin-bottom: 20px;
    font-size: 25px;
  }
}

.sales_point {
  display: flex;
  flex-flow: column;
  align-items: center;

  h1 {
    margin-bottom: 30px;
    border-bottom: 3px solid  #ADD8E6;
    width: fit-content;
  }
}

.three_visualized_information {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.visualized_information {
  width: 33%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 20px;

  p {
    font-size: 15px;
  }
}

.information_wrapper {
  a {
    background-color: #ADD8E6;
    border-bottom: 5px solid #202a43;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
  }
}

.search_area, .login_area {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.login_area a {
  margin: 0 20px;
}

.search_forms {
  display: flex;
  justify-content: center;
  gap: 100px;

  input, select{
    background-color: #ADD8E6;
    border-bottom: 5px solid #202a43;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 30px;
  }

  #agenda_board_search_category, #q_agenda_cont {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 20px;
  }
}

footer {
  background-color: #ADD8E6;
  width: 100%;
  padding: 10px 0;

  p {
    text-align: center;
  }
}
