// 新規反論作成フォームをツリー型にする
.nested_ref_bases_forms {
  position: relative;
}

.add_nested_ref_reason_form {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.nested_ref_evidences_forms {
  position: relative;
}

.add_nested_ref_evidence_form {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

textarea {
  resize: none;
}

// その他
.create_new_refutation {
  display: flex;
  gap: 70px
}

h1 {
  text-align: left;
}

.rebuttal_target_argument, .rebuttal_target_refutation, .create_new_refutation_form {
  text-align: left;
  margin-top: 50px;
}
